<!DOCTYPE html>
<html ng-app="excelApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">

</head>
<body>

    
<div ng-controller="appController">
    
    <div class="container-fluid">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand" width="112" height="48">
            <a class="navbar-item" href="https://bulma.io">
              <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            <!--    <img src="./img/header_tagline_BLACKen_170x59.png"  width="112" height="48">-->
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        </nav>
    </div>
        
<div class="container">
    
    <h2 style="margin-top:25px;padding-bottom:5px">Pre-Check-in Registration Form</h2>
    <hr />

    <div class="row col-md-6 fieldContainer" style="margin-top:25px;padding-bottom:35px">
        <div class="field">
              <label class="label">Reservation No.</label>
              <div class="control">
                <input class="input" type="text" ng-model="data.rid" placeholder="Reservation Number" maxlength="6">
              </div>
        </div>

        <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" ng-model="data.name" placeholder="Full Name here">
                
              </div>
        </div>

        <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email" ng-model="data.email" placeholder="hotelsLuxury@rosewoodhotels.com">
                
              </div>
        </div>
        
        <div class="field">
              <label class="label">Contact</label>
              <div class="control">
                <input class="input" type="text" ng-model="data.contact" placeholder="Mobile Number">
                
              </div>
        </div>

        <div class="field">
          <label class="label">Gender</label>
          <div class="control">
            <div class="select">
              <select ng-model="data.gender">
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Leave us a Message</label>
          <div class="control">
            <textarea class="textarea" rows="2" ng-model="data.message" placeholder="Your message"></textarea>
          </div>
        </div>

        
        <div class="field">
          <div class="control">
            
            <span  id="chk"  ng-click="checkMethod()"  style="margin-right:3px">
                    <input type="checkbox" id="chkbox" ng-model="check" style="display:none" />
                    <i ng-if="!check" class="far fa-1x fa-square"></i>
                    <i ng-if="check" class="far fa-1x fa-check-square"></i>
            </span>
            <label for="chk" class="checkbox" ng-click="checkMethod()" >
                <span>
                     Mail me exciting offers.
                </span>
            </label>
           
          </div>
        </div>

        <div class="field">
          <div class="control">
            
            <label class="radio" ng-click="setRadioTrue()">
                    <input type="radio" id="yesradio" name="question" value="true"> 
                    <!--<i ng-if="!check" class="far fa-1x fa-radio"></i>-->
                Yes
            </label>
            <label class="radio" ng-click="setRadioFalse()">
              <input type="radio" id="noradio" name="question" value="false">
              No
            </label>
              <label class="radio" style="text-decoration:underline">
                Are you a Prime Member ?   
            </label>
          </div>
        </div>
        

        <div class="field is-grouped" style="margin-top:15px">
          
          <div class="control">
            <button class="button is-link" ng-click="fillForm()">Fill Form</button>
          </div>
          <div class="control">
            <button class="button is-link" ng-click="saveData(data)">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>
        
     </div><!-- Field Container Ends here-->
        
    </div><!-- Container Div Ends here-->
 
</div><!-- Controller Div Ends here-->



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.9/angular-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-route.min.js"></script>

        <script src="./script/app.js"></script>
        <script src="./script/dataService.js"></script>
        <script src="./script/appController.js"></script>
</body>
</html>